<div class="header">
  <div class="pikka-div">
    <img
      src="/assets/images/pokemons/pikkaaa.png"
      alt="Pikachu"
      class="pikka-pic"
      (click)="openPokemon('pikachu')"
    />
  </div>

  <div class="dragon-div">
    <img
      src="/assets/images/pokemons/dragon.png"
      alt="Dragon"
      class="dragon-pic"
      (click)="openPokemon('charizard')"
    />
  </div>

  <div class="turtle-div">
    <img
      src="/assets/images/pokemons/turtle.png"
      alt="Turtwig"
      class="turtle-pic"
      (click)="openPokemon('squirtle')"
    />
  </div>

  <div>
    <div class="fox-div">
      <img
        src="/assets/images/pokemons/fox.png"
        alt="Zorua"
        class="fox-pic"
        (click)="openPokemon('eevee')"
      />
    </div>

    <div class="logo-div">
      <img
        class="logo"
        src="https://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png"
      />
    </div>

    <div class="leon-div">
      <img
        src="/assets/images/pokemons/leon-pokemon.png"
        alt=""
        class="leon-pic"
        (click)="openPokemon('snorlax')"
      />
    </div>

    <p class="leon-name-tag">Leon</p>
    <div class="kangoroo-div">
      <img
        src="/assets/images/pokemons/kangoroo-poke.png"
        alt=""
        class="kangoroo-pic"
        (click)="openPokemon('cubone')"
      />
    </div>

    <div class="meowth-div">
      <img
        src="/assets/images/pokemons/meowth.png"
        alt=""
        class="meowth-pic"
        (click)="openPokemon('meowth')"
      />
    </div>

    <div class="dugtrio-div">
      <img
        src="/assets/images/pokemons/dugtrio.png"
        alt=""
        class="dugtrio-pic"
        (click)="openPokemon('dugtrio')"
      />
    </div>
  </div>
</div>
