<div class="header">
    <div class="pikka-div">
        <img src="/assets/images/pokemons/pikkaaa.png" alt="" class="pikka-pic">
    </div>
    <div class="dragon-div">
        <img src="/assets/images/pokemons/dragon.png" alt="" class="dragon-pic">
    </div>
        <div class="turtle-div">
        <img src="/assets/images/pokemons/turtle.png" alt="" class="turtle-pic">
    </div>
    <div>
        <div class="fox-div">
        <img src="/assets/images/pokemons/fox.png" alt="" class="fox-pic">
    </div>
    <div class="logo-div">   
        <img class="logo" src="https://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png">
    </div>
    <div class="leon-div">
        <img src="/assets/images/pokemons/leon-pokemon.png" alt="" class="leon-pic">
    </div>
    <p class="leon-name-tag">Leon</p>
    <div class="kangoroo-div">
        <img src="/assets/images/pokemons/kangoroo-poke.png" alt="" class="kangoroo-pic">
    </div>
    <div class="meowth-div">
        <img src="/assets/images/pokemons/meowth.png" alt="" class="meowth-pic">
    </div>
    <div class="dugtrio-div">
        <img src="/assets/images/pokemons/dugtrio.png" alt="" class="dugtrio-pic">
    </div>
</div>
