<div class="header">
    <div class="pikka-div">
        <img src="/assets/images/pokemons/pikkaaa.png" alt="" class="pikka-pic">
    </div>
    <div class="dragon-div">
        <img src="/assets/images/pokemons/dragon.png" alt="" class="dragon-pic">
    </div>
        <div class="turtle-div">
        <img src="/assets/images/pokemons/turtle.png" alt="" class="turtle-pic">
    </div>
    <div>
        <div class="fox-div">
        <img src="/assets/images/pokemons/fox.png" alt="" class="fox-pic">
    </div>
    <div class="logo-div">   
        <img class="logo" src="https://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png">
    </div>
</div>
