<div class="background">
  <app-header (pokemonClicked)="onHeaderPokemonClick()"></app-header>

  <div class="container">
    <div class="card">
      <img
        src="/assets/images/pokedex/pokedex-png.png"
        alt="Pokedex"
        class="pokedex"
      />
      <img
        src="/assets/images/pixelArt/pixel-pickachu.png"
        alt="Pikachu"
        class="pikachu"
      />

      <h1 class="title">Welcome to the Pokédex!</h1>

      <p class="subtitle">Discover all Pokémon from Bulbasaur to Mewtwo!</p>
      <button class="pokeball-button" [routerLink]="['/pokedex']">
        Open Pokédex
      </button>
      <button class="pokeball-button" [routerLink]="['/arena']">
        Open ARENA
      </button>
      <button
        class="api-button"
        [routerLink]="['/api-page']"
        style="margin-top: 5px"
      >
        Open API Page
      </button>

      <button class="pokeball-button" [routerLink]="['/openWorld']">
        Open OW
      </button>
    </div>
  </div>
</div>
