
<div class="background">

<div class="logo-wrapper">
 
  <img class="logo" src="https://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png">
</div>

<div class="container">
  <div class="card">
<img src="/assets/images/pokedex/pokedex-png.png" alt="Pokedex" class="pokedex"/>   
  <img src="/assets/images/pixelArt/pixel-pickachu.png" alt="Pikachu" class="pikachu"/>

<h1 class="title">Willkommen im Pokédex!</h1>

<p class="subtitle">Entdecke alle Pokémon vom Bisasam bis Mewtu!</p>
<button class="pokeball-button" [routerLink]="['/pokedex']">Pokédex öffnen</button>
  </div>
</div> 
</div> 